
.main{
    padding-left: 15px;
    display: flex;
}

.filter {
    max-width: 16%;
    margin-right: 10px;
    h5{
        font-size: 1.25rem;
    }
    p{
        margin-top: 10px;
        display: block;
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    form {
        display: flex;
        margin-bottom: 7px;
        width: 100%;

        .inputWrapper {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        label {
            font-size: 14px;
            padding: 0 3px 0 0;
            color: #999;
        }
        input {
            height: 25px;
            width: 100%;
            outline: none;
        }
    }
    .filterCheck {
        input {
            margin-right: 8px;
        }
        span {
            color: #4d5f71;
            font-size: 14px;
        }
    }

}

.products{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 83%;
}

@media(max-width: 1200px) {
    .filter{
        max-width: 20%
    }
    .products {
        flex-basis: 75%;
    }  
}

@media(max-width: 992px) {
    .filter {
        display: none;
    }

    .products {
        flex-basis: 100%;
    }
}