.Card {
    position: relative;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ededed;
    border-radius: 2px;
    padding-top: 20px;
    .sale {
        position: absolute;
        top: 10px;
        left: 10px;
        font-weight: bold;
        padding: 4px 8px;
        background-color: #9f3584;
        border-radius: 4px;
        color: #fff;
    }
    .imgWrapper {
        height: 230px;
        width: 100%;
    }
    
    .img {
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 200px;
        min-height: 200px;
    }
}

.cardBody {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.25rem 1.25rem;
    p {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.3px;
    }

    h5 {
        height: 50px;
        overflow: hidden;
        font-size: 16px;
        line-height: 1.38;
        padding-bottom: 6px;
        position: relative
    }

    .btnCard {
        width: 80%;
        outline: none;
        min-height: 32px;
        color: #fff;
        background-color: #005bff;
        border: none;
        cursor: pointer;
        border-radius: 2px;
        font-size: 14px;
        padding: 2px 15px;
        margin: 20px auto 0 auto;
        &:hover {
            background-color: darken(#005bff, 15%)
        }
    }
}

@media (max-width: 1200px) {
    .Card {
        width: 33.33%;
    }
}

@media(max-width: 768px) {
    .Card {
        width: 50%;
    }
}

@media(max-width: 576px) {
    .Card {
        width: 100%;
    }
}
